* {
    margin: 0;
    color: #dfe0e9;
    font-family: 'Times New Roman', Times, serif;
}


.signup-container {
    /* position: relative; */
    margin-top: 1%;
    /* width: 100%; */
    /* height: 100%; */

    background: url(src\app\images\jasmin-chew-KNu2oQ69bMw-unsplash.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top:100px;
    /* margin-top:  100px; */
    min-width: 350px;

}



.form-signup {
    margin: auto;
    background-color: rgb(210, 180, 140, .8);
    border-radius: 105px;
}

mat-card-title {
    width: 400px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 0;
    padding-bottom: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

form {
    padding: 0 80px 0 50px;
    /* border-radius: 65px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: none; */
}

input,
button {
    position: relative;
    /* background-color: rgb(255, 255, 255); */
    color: black;
    /* padding: auto; */
    border-radius: 5px;
}

input {
    width: 100%;
    min-width: 200px;
    caret-color: black;
    padding:14px;
    /* color: black; */
}

/* #matInput{
    color: black;
} */
::placeholder {
    color: black;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}
input:hover,
#button:hover {
    background-color: rgb(255, 255, 255, .3);
    transition-duration: 0.3s;
    cursor:text;

}
#button{
    background-color: rgb(255, 255, 255);
    color: #000;
    margin-bottom: 1em;
}

/* a:hover{
    color: rgb(184, 122, 28); 
} */


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important;
}



/* .separation {
    height: 2px;
    margin: 0 0 30px 30px;
    background: white;
} */
.login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
a {
    /* display: block; */
    color: white;
    /* text-align: center; */
    padding: 5px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    height: 10%;
    font-size: 19px;
}

a:hover {
    background-color: #dfe0e954;
    transition-duration: 0.3s;
}
