<!-- 

<div class="footer">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2"></h5>
<p class="mb10">The Jean Station is simply the best in the clothing industry. Our focus is to continue to raise the standard and provide the best jeans on this side of the Mississippi.</p>
<p><i class="fa fa-phone"></i>(999)443-2100 </p>
<p><i class="fa fa fa-envelope"></i> jeansrus@jeanstation.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Testimony</h5>
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com" style="font-family: cursive;">"My style is very laid back. Just wearing a t-shirt, jeans, and kicks. Jean Station is where I enjoy shopping the most." <br>- Anonymous Shopper</a></li>

</ul>
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Testimony</h5>
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com" style="font-family: cursive;">"What I wear is a reflection of where I am going and how I am feeling. 
    If I'm in a good mood, it's got to be jeans from Jean Station- just something comfy, soft and warm. When I'm down, 
    I might find something I bought from Jean Station a few years back." <br> -Not a Jean Station employee</a></li>

</ul>
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
</ul>
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="http://webenlance.com">Home</a></li>
<li><a href="http://webenlance.com">About</a></li>
<li><a href="http://webenlance.com">Contact</a></li>
</ul>
<p class="text-center">Copyright @2022 | Designed With by <a href="#">Team 1</a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </div> -->

  <!-- Footer -->

 
<footer class="footer">

    <!-- Footer Links -->
    <div class="container-fluid  text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase" style="font-size: 15px;">The Jean Station®</h5>
          <p>Here at The Jean Station, our members and customers are one big family! As we begin the process of entering the digital sphere, we hope to better serve our community and meet the needs of you, the customer, in our ever-growing world. We thank you for your business and would love to hear your feedback, contact us on social media!</p>
          <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p> -->
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        
        <div class="col-md-3 mb-md-0 mb-3">
  
          
          <h5 class="text-uppercase"></h5>
  
          <ul class="list-unstyled">
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase" style="font-size: 15px;">Follow us on social media!</h5>
  
          <ul class="list-unstyled">
            <li style="justify-content: space-between;">
              <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Facebook_icon.jpg"></a>
              <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt=""></a>
              <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt=""></a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a id="about" [routerLink]="['about']"> Team 1 @ CGI</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->