<!-- <div class="product-container"> -->
  <mat-card *ngIf="role" class="example-card">

    <mat-card-header>
      <mat-card-title>{{oneProduct.title}}-No. {{oneProduct.id}}</mat-card-title>
      <mat-card-subtitle>${{oneProduct.price}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Details:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{oneProduct.description}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="edit()">Edit</button>
      <button mat-raised-button (click)="delete()">Delete Product</button>
    </mat-card-actions>

  </mat-card>

  <mat-card *ngIf="!role" class="example-card">

    <mat-card-header>
      <mat-card-title>{{oneProduct.title}}</mat-card-title>
      <mat-card-subtitle>${{oneProduct.price}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Details:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{oneProduct.description}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="addToCart()">Add to Cart</button>
    </mat-card-actions>

  </mat-card>
<!-- </div> -->