<!-- ADMIN PRODUCT VIEW -->
<div class="col m-1" *ngIf="role">
  <div class="admin-card">
    <div class="underlay">
      <p>THE JEAN <br> STATION</p>
    </div>
    <div class="img-div">
      <img src={{oneProduct.url}} class="card-img-top" alt="medium-wash-denim-swatch">
    </div>
    <!-- <img src={{img}} class="card-img-top" alt="medium-wash-denim-swatch"> -->
    <div class="card-body">
      <h4 class="card-title mb-1">No. {{oneProduct.id}}-{{oneProduct.title}}</h4>
      <h5>${{oneProduct.price}}</h5>
      <p class="card-text">{{oneProduct.description}}</p>
      <button mat-raised-button (click)="edit()">Edit</button>
      <button mat-raised-button (click)="delete()">Delete</button>
    </div>
  </div>
</div>

<!-- USER PRODUCT VIEW -->
<div class="product-container" *ngIf="!role">
  <mat-card class="example-card">

    <div class="imgbox" >
      <img (click)="openDialog()" src="{{oneProduct.url}}" class="imgbox" >
    </div>

    <mat-card-header style="margin-top: 10px;">
      <mat-card-title (click)="openDialog()">{{oneProduct.title}}</mat-card-title>
      <mat-card-subtitle>${{oneProduct.price}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="button-holder">
      <button class="button-card" mat-raised-button (click)="addToCart()">Add to Cart</button>
    </mat-card-actions>

  </mat-card>
</div>
