<!-- <mat-toolbar class="nav-container">
        <h1>The Jean Station</h1>

        <nav id="nav-bar">
            <a class="hover-underline-animation" [routerLink]="['products']">Products</a>
            <a class="hover-underline-animation" [routerLink]="['orders']">Orders</a>
            <button  mat-raised-button color="accent" id="button" (click)="logout()">Logout</button>
        </nav>
</mat-toolbar> -->
<app-header [role]="role"></app-header>
<div class="router-outlet-container"></div>
<router-outlet></router-outlet>
