<div class="order-form">
    <h2>Enter Delivery Address:</h2>

    <form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
   
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Street Address</mat-label>
            <input matInput placeholder="123 Easy St" formControlName="street">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="Boston" formControlName="city">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput placeholder="MA" formControlName="state">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Postal Zipcode</mat-label>
            <input matInput placeholder="11115" formControlName="zipcode">
        </mat-form-field>

        <section class="action-buttons">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button [disabled]="orderForm.invalid" (click)="placeOrder">Place Order</button>
        </section>
        <!-- <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button [disabled]="orderForm.invalid" (click)="placeOrder">Place Order</button> -->
    </form>
</div>