<!-- <div><button >Create an Account</button></div> -->

<body>
    <section class="signup-container">
        <p *ngIf="error" color="accent">{{error}}</p>

        <form [formGroup]="signupForm" class="form-signup">
            
            <h2>Create an Account</h2>

            <div class="signup-form">
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control" id="email" type="email" placeholder="Enter Email"
                            formControlName="email" autofocus>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control" id="username" type="username" placeholder="Enter Username"
                            formControlName="username">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control" id="password" type="password" placeholder="Enter Password"
                            formControlName="password">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control" id="confirmPassword" type="confirmPassword"
                            placeholder="Confirm Password" formControlName="confirmPassword">
                    </mat-form-field>
                </div>
                <div class="separation"></div>
                <button id="button" mat-raised-button color="accent" [disabled]="signupForm.invalid" (click)="signup()">Create
                    Account</button>
            </div>
           
        </form>

    </section>
</body>