
nav{
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    white-space:nowrap;
    z-index: 1000;


}
nav
a, h1 {
    /* float: right; */
    display: block;
    color: #1a1a6a;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    /* font-size: 50%; */
    font-family: 'Times New Roman', Times, serif;
    height: 10%;
}
a{
    float: right;
    font-size: 19px;
}
a:hover {
    background-color: #ddd;
    color: black;
}
h1{
    float: left;
    font-size: 30px ;
}

