<div class="newproductform-container">
    <mat-expansion-panel hideToggle class="input-panel">

        <!-- <p *ngIf="error" color="accent">{{error}}</p> -->
    
    <mat-expansion-panel-header>
        <mat-panel-title>
        <mat-icon>add</mat-icon>
        Add New Product
        </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="newproductform" [formGroup]="newProductForm">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Title</mat-label>
            <input matInput placeholder="Ex. Blue Jeans" formControlName="title">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Description</mat-label>
            <textarea matInput placeholder="Ex. The jeans are a faded blue with..." formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Image</mat-label>
            <textarea matInput placeholder="Copy Img Url and paste" formControlName="url"></textarea>
          </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
    
        <button mat-raised-button color="accent" [disabled]="newProductForm.invalid" (click)="addProduct()">Add Product</button>
    
    </form>

    </mat-expansion-panel>
</div>

<!-- <section class="products-container">
    <app-product *ngFor="let oneProduct of filteredProductsArr" [oneProduct]="oneProduct" (handleDelete)="deleteProduct($event)" [role]="role"></app-product>
</section> -->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 p-3">
    <app-product *ngFor="let oneProduct of filteredProductsArr" [oneProduct]="oneProduct" (handleDelete)="deleteProduct($event)" [role]="role"></app-product>
</div>
