

<!-- <div class="card-container">
<div *ngFor="let CartProducts of cartProductsArr">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{CartProducts.title}}</mat-card-title>
          <mat-card-subtitle>{{CartProducts.price}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
           
          </p>
        </mat-card-content>
        <mat-card-actions>
         
        </mat-card-actions>
      </mat-card>

</div>
</div> -->

<div class="cart">
  <h1>Your Cart Contains: </h1>
  <div *ngIf="!emptyCart" class="products-container">
    <app-cartproduct *ngFor="let oneProduct of productsArr" [oneProduct]="oneProduct" (removeProduct)="removeProduct($event)"></app-cartproduct>
  </div>
  <div *ngIf="emptyCart" class="empty-container">
    <h2>No items to show</h2>
  </div>
  <button (click)="clearCart()" [disabled]="productsArr.length == 0">Clear Cart</button>
  <button (click)="checkOut()" [disabled]="productsArr.length == 0">Check Out</button>
  <h3>Order total: ${{cartTotal}}</h3>
</div>

<!-- <mat-accordion>
    <mat-expansion-panel hideToggle>
      
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-cartproduct *ngFor="let oneProduct of productsArr" [oneProduct]="oneProduct" (removeProduct)="removeProduct($event)"></app-cartproduct>

    </mat-expansion-panel>
  </mat-accordion> -->