
<div class="form-container">
  <div class="form-add">
    <mat-form-field>
      <mat-label>Title</mat-label>
<input matInput placeholder="Enter Title" [(ngModel)]="product.title" >
</mat-form-field>
<mat-form-field>
  <mat-label>Price</mat-label>
  <input matInput placeholder="Enter Price" [(ngModel)]="product.price">
</mat-form-field>
<mat-form-field>
  <mat-label>Description</mat-label>
  <input matInput placeholder="Enter Description" [(ngModel)]="product.description">
</mat-form-field>
<button class="button-29" (click)="add()" mat-raised-button color="primary">Add product</button>


</div>
</div>

<div class="card-container">
  <div *ngFor="let product of products">
    <mat-card class="product-card" >
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
<!--        <mat-card-subtitle>{{product.title}}</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content>
        <p>"Price: {{product.price}}</p>
        <p>"Description: {{product.description}}</p>
      </mat-card-content>
      <div class="product-card-buttons">
      <mat-card-actions>
        <button class="button-29" (click)="delete(product)"  mat-button>DELETE</button>
      </mat-card-actions>
      <mat-card-actions>
        <button class="button-29" (click)="update(product)"  mat-button>UPDATE</button>
      </mat-card-actions>
  </div>
    </mat-card>
  </div>
</div>

<!--<form class="example-form">-->
<!--  -->
<!--  <mat-form-field class="example-full-width">-->
<!--    <span matPrefix> </span>-->
<!--    <input type="tel" matInput placeholder="Search" name= "search" >-->
<!--    -->
<!--    <button (search)="searchBar(product)" matSuffix mat-button><mat-icon >search</mat-icon></button>-->
<!--  </mat-form-field>-->
<!--  <br/>-->

<!--  <div class="card-container">-->
<!--    <div *ngFor="let product of products">-->
<!--      <mat-card class="product-card" (click)="update(product)">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>product</mat-card-title>-->
<!--          &lt;!&ndash;    Data binding&ndash;&gt;-->
<!--          <mat-card-subtitle>{{product.title}}</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <p>"Price: {{product.price}}</p>-->
<!--          <p>"Description: {{product.description}}</p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button (click)="delete(product.id)" mat-button>DELETE</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->

<!--  {{product}}-->
<!--</form>-->



